# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2021 Moritz Hedtke <Moritz.Hedtke@t-online.de>
ignore-scripts=true
engine-strict=true
strict-peer-deps=true
install-strategy=linked
build-from-source=true
