localhost {
    encode gzip

	handle /api/* {
        reverse_proxy backend:8443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}