[Service]
Type=simple
Restart=on-failure
Environment=BIND_ADDRESS=:4050
Environment=DATABASE_TYPE=sqlite3
Environment=DATABASE_URL=/var/lib/go-neb/go-neb.db?_busy_timeout=5000
Environment=BASE_URL=http://localhost:4050
StateDirectory=go-neb
ExecStart=/opt/go-neb/go-neb
DynamicUser=true
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
LockPersonality=true
ProtectHostname=true
UMask=0077
ProcSubset=pid
PrivateDevices=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
DevicePolicy=closed
ProtectSystem=strict
PrivateTmp=yes
PrivateIPC=true
RestrictSUIDSGID=true
RemoveIPC=true
CPUAccounting=true
MemoryAccounting=true
MemoryMin=100M
TasksAccounting=true
TasksMax=1024
IOAccounting=true
IPAccounting=true


[Install]
WantedBy=multi-user.target
