[Unit]
Description=projektwahl %i
RefuseManualStart=true

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/projektwahl-lit-%i
PrivateNetwork=true
Environment=NODE_ENV=production
Environment=DATABASE_URL=postgres://projektwahl_%i:projektwahl_%i@127.0.0.1/projektwahl_%i
Environment=DATABASE_HOST=/run/postgresql
Environment=BASE_URL=https://aes.selfmade4u.de/
ExecStart=node /opt/projektwahl-lit-%i/dist/server.js
LoadCredential=cert.pem:/opt/projektwahl-lit-%i/cert.pem
LoadCredential=key.pem:/opt/projektwahl-lit-%i/key.pem
DynamicUser=true
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
LockPersonality=true
ProtectHostname=true
UMask=0077
ProcSubset=pid
PrivateDevices=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
DevicePolicy=closed
SocketBindDeny=any
ProtectSystem=strict
PrivateTmp=yes
PrivateIPC=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
IPAddressDeny=any
BindReadOnlyPaths=/run/postgresql
CPUAccounting=true
MemoryAccounting=true
MemoryMin=100M
MemoryMax=1G
TasksAccounting=true
TasksMax=1024
IOAccounting=true
IPAccounting=true


[Install]
WantedBy=multi-user.target
