# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2021 Moritz Hedtke <Moritz.Hedtke@t-online.de>
[Unit]
Description=projektwahl %i
RefuseManualStart=true

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/projektwahl-lit-%i
Environment=NODE_ENV=production
Environment=DATABASE_URL=postgres://projektwahl_%i:projektwahl_%i@127.0.0.1/projektwahl_%i
Environment=DATABASE_HOST=/run/postgresql
Environment=BASE_URL=https://aes.selfmade4u.de 
Environment=OPENID_URL=https://login.microsoftonline.com/tenant-id/v2.0
Environment=CLIENT_ID=client-id
ExecStart=node /opt/projektwahl-lit-%i/dist/server.js
LoadCredential=cert.pem:/opt/projektwahl-lit-%i/cert.pem
LoadCredential=key.pem:/opt/projektwahl-lit-%i/key.pem
LoadCredentialEncrypted=openid_client_secret:/opt/projektwahl-lit-%i/openid_client_secret
DynamicUser=true
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
LockPersonality=true
ProtectHostname=true
UMask=0077
ProcSubset=pid
PrivateDevices=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
DevicePolicy=closed
SocketBindDeny=any
ProtectSystem=strict
PrivateTmp=yes
PrivateIPC=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
BindReadOnlyPaths=/run/postgresql
CPUAccounting=true
MemoryAccounting=true
MemoryMin=100M
TasksAccounting=true
IOAccounting=true
IPAccounting=true
TasksMax=1024
MemoryMax=1G

[Install]
WantedBy=multi-user.target
