# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2021 Moritz Hedtke <Moritz.Hedtke@t-online.de>
[Unit]
Description=prometheus-postgresql-exporter

[Service]
Type=simple
Restart=on-failure
Environment=DATA_SOURCE_NAME="user=postgres host=/var/run/postgresql/ sslmode=disable"
ExecStart=/opt/postgres_exporter/postgres_exporter
User=postgres
DynamicUser=true
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
LockPersonality=true
ProtectHostname=true
UMask=0077
ProcSubset=pid
PrivateDevices=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
DevicePolicy=closed
ProtectSystem=strict
PrivateTmp=yes
PrivateIPC=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
BindReadOnlyPaths=/run/postgresql
CPUAccounting=true
MemoryAccounting=true
MemoryMax=1G
TasksAccounting=true
TasksMax=1024
IOAccounting=true
IPAccounting=true


[Install]
WantedBy=multi-user.target
