/*!
https://github.com/projektwahl/projektwahl-lit
SPDX-License-Identifier: AGPL-3.0-or-later
SPDX-FileCopyrightText: 2021 Moritz Hedtke <Moritz.Hedtke@t-online.de>
*/
body {
  overflow-y: scroll;
}

.height-100 {
  height: 100vh;
}

.fully-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1337;
}

pw-app {
  height: 100vh;
  display: block;
}

.td-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 0;
}

.test-parent {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.test {
  grid-column: 1;
  grid-row: 1;
}